<!DOCTYPE html>
<html lang="en">
    <%- include("compartilhado/header") %>
    <body>
        <div class="container">
            <div class="row">
               
            </div>
            <hr>
            <div style="height:300px; padding-left: 30px;">
                <h1>Aconteceu algum erro :( ! Tente novamente... </h1> 
                
                
               
            </div>
        </div>
    </body>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
</html>