<%- include("compartilhado/header") %>
        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/img/coffee.jpeg" alt="..." />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Devs</span>
                            <span class="section-heading-lower">Para quem gosta de café</span>
                        </h2>
                        <p class="mb-3">Peças únicas para você fazer e tomar seu café!</p>
                        <div class="intro-button mx-auto">
                            <a class="btn btn-primary btn-xl" href="https://api.whatsapp.com/send?phone=5567999391146&text=Ol%C3%A1%2C%20vi%20seu%20site%20e%20gostaria%20de%20fazer%20um%20pedido">Clique aqui para fazer seu pedido</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
<%- include("compartilhado/footer") %>