<%- include("compartilhado/header") %>


			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>O futuro está aqui</h2>
							<p>sua agenda na palma da mão</p>
							<!-- Just apps. Lots of mother flipping apps.</p> -->
						</header>
						<!-- <span class="image"><img src="../public/assets/images/logo-api.svg" alt="" /></span> -->
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<!-- <span class="image fit main"> -->
					<span class="image fit main">
						<img src="https://i.ibb.co/BCkM1dF/Screen-Shot-2021-06-20-at-14-46-50.png" alt="" />
					</span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
									<header>
										<h2>O que é o <span style="color: #d8477afe; font-weight: bold;">i52</span>?</h2>
										<!-- <p>Nascetur eu nibh vestibulum amet gravida nascetur praesent</p> -->
									</header>
								</div>
								<div class="col-4 col-12-medium">
									<p>Um <span style="color: #d8477afe; font-weight: bold;">sistema</span> desenvolvido para seu consultório a fim de facilitar 
                                        o controle de cadastro de seus clientes, atendimentos e prontuário 
                                        dos seus pacientes.</p>
								</div>
								<div class="col-4 col-12-medium">
									<p> O nome faz menção ao <span style="color: #d8477afe; font-weight: bold;">time</span> que desenvolveu e segundo a numerologia
                                        o número 52 representa <span style="color: #d8477afe; font-weight: bold;">aprendizado, oportunidades e mudanças</span>, 
                                        que define com certeza o que time passou para desenvolver esse projeto. </p>
								</div>
							</div>
						</div>
					<!-- </div> -->
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="https://user-images.githubusercontent.com/43910483/121086311-61e1d780-c7b9-11eb-9cfe-f80c94232033.gif" alt="" /></span>
					<div class="content">
						<header>
							<h2 style="color: #d8477afe; font-weight: bold;">Controle e Agendamento</h2>
							<p>Tenha total controle dos seus pacientes desde o cadastro até o atendimento. Além de uma 
                                melhor visualização da sua agenda.
                            </p>
						</header>
						<!-- <p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p> -->
						<ul class="actions">
							<li><a href="https://youtu.be/0Rnb5z9WyUw" class="button primary">Saiba mais</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<!-- <section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="images/pic04.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Interdum felis blandit praesent sed augue</h2>
							<p>Accumsan integer ultricies aliquam vel massa sapien phasellus</p>
						</header>
						<p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section> -->

			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Conheça o maravilhoso <span style="color: #d8477afe; font-weight: bold;">time</span> por trás desse sistema</h2>
							<!-- <p>Iaculis ac volutpat vis non enim gravida nisi faucibus posuere arcu consequat</p> -->
						</header>
						<div class="box alt">
							<div class="row gtr-uniform">
								<section class="col-4 col-6-medium col-12-xsmall">
									<span><img class="icon solid alt major fa-comment" src="https://ca.slack-edge.com/T021849ADV0-U021HTM7VRS-67d8a1c3ae97-512"/></span>
									<h3>Marcos Alves</h3>
									<p>Front End</p>

                                    <ul class="actions special icons">
                                        <li><a href="https://www.linkedin.com/in/mlamarques/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                                        <li><a href="https://github.com/mlamarques" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                                    </ul>

								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span><img class="icon solid alt major fa-comment" src="https://ca.slack-edge.com/T021849ADV0-U021DRFM7DZ-fd012ee4d826-512"/></span>
									<h3>Vinicius Carvalho</h3>
									<p>Front End</p>

                                    <ul class="icons">
                                        <li><a href="https://www.linkedin.com/in/viniciuscostacarvalho/" class="icon brands alt fa-linkedin-in" aria-hidden="true"></a></li>
                                        <li><a href="https://github.com/vinicius-carvalho" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                                    </ul>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span><img class="icon solid alt major fa-comment" src="https://ca.slack-edge.com/T021849ADV0-U0218A54NTX-6994c6916e58-512"/></span>
									<h3>Michele Coelho</h3>
									<p>Front End</p>

                                    <ul class="icons">
                                        <li><a href="https://www.linkedin.com/in/michele-coelho-5017aa79/" class="icon brands alt fa-linkedin-in"></a></li>
                                        <li><a href="https://github.com/micheleset7" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                                    </ul>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span><img class="icon solid alt major fa-comment" src="https://ca.slack-edge.com/T021849ADV0-U020X1C5AMV-b4232f8b847d-512"/></span>
									<h3>Thais Hoshii</h3>
									<p>Back End</p>

                                    <ul class="icons">
                                        <li><a href="https://www.linkedin.com/in/thais-hoshii/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                                        <li><a href="https://github.com/Thais-Hoshii" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                                    </ul>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span><img class="icon solid alt major fa-comment" src="https://ca.slack-edge.com/T021849ADV0-U020WH44NQ7-4cc900610241-512"/></span>
									<h3>Renato Lobo</h3>
									<p>Back End</p>

                                    <ul class="icons">
                                        <li><a href="https://www.linkedin.com/in/renatolobo-engenheiro/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                                        <li><a href="https://github.com/renatolobojr" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                                    </ul>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span><img class="icon solid alt major fa-comment" src="https://ca.slack-edge.com/T021849ADV0-U021BTS4YQK-cb2b871ccb93-512"/></span>
									<h3>Renata Kanezaki</h3>
									<p>Back End</p>

                                    <ul class="icons">
                                        <li><a href="https://www.linkedin.com/in/renatakanezaki/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                                        <li><a href="https://github.com/RenataMie" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                                    </ul>
								</section>
							</div>
						</div>
						<footer class="major">
							<ul class="actions special">
								<li><a href="https://github.com/Afya-Labs-g5t2" class="button">Conheça nosso Github</a></li>
							</ul>
						</footer>
					</div>
				</section>

			<!-- Five -->
				<section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Tem alguma dúvida, elogio ou comentário?</h2>
							<p>Mande seu recado pra gente</p>
						</header>
						<form method="POST" action="contact/send">
							<div class="row gtr-uniform gtr-50">
								<div id="email" class="col-12 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Seu email" /></div>
                                <div id="name" class="col-12 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Seu nome" /></div>
                                <div id="message" class="col-12 col-12-xsmall"><textarea type="text" name="message" id="message" placeholder="Sua mensagem"></textarea></div>
								<div class="col-12 col-12-xsmall"><input type="submit" value="Enviar" class="fit primary" /></div>
							</div>
						</form>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
			
					<ul class="copyright">
						<li>&copy; i52</li>
                        
                        <!-- <li>Design: <a href="http://html5up.net">HTML5 UP</a></li> -->
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
            

	</body>
</html>
        