<%- include("compartilhado/header") %>
<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/profile1.jpg" alt="..." />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <!-- <span class="section-heading-upper">Strong Coffee, Strong Roots</span> -->
                            <span class="section-heading-lower">Sobre a ceramista</span>
                        </h2>
                        <p>Formada em Artes Visuais na Universidade Federal de Mato Grosso do Sul em 2014, Suzy Kanezaki teve seu primeiro contato com a cerâmica durante a graduação. Mas foi somente no ano de 2017, em uma temporada no Japão como bolsista em um centro cultural na província de Yamaguchi, que suas habilidades com a cerâmica foram desenvolvidas através de aulas nesse centro e também convivendo com uma família local de ceramistas. Foram 7 meses de muito aprendizado e prática quase diária que fez com que Suzy continuasse com a cerâmica quando voltou ao Brasil. Hoje grande parte das peças que produz são utilitários de vários estilo e encomendas. Seu trabalho é 100% manual, utilizando o torno e realizando pinturas e desenhos a mão. </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  
<%- include("compartilhado/footer") %>